ws:
    resource: "@WsBundle/Controller/"
    type:     annotation
    prefix:   /ws

app:
    resource: "@AppBundle/Controller/"
    type:     annotation

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

ws_user_security_check:
    path:     /ws/login_check
    defaults: { _controller: FOSUserBundle:Security:check }
