{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div id="welcome">
            <h1><span>Welcome to</span> Symfony 3.0</h1>
        </div>

        <div id="status">
            <p>
                With this skeleton application you can create your beautifull app.
            </p>
        </div>

    </div>

{% endblock %}
