{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div id="welcome">
            <h1><span>Welcome to</span> stingy-hamster</h1>
        </div>

        <div id="status">
            <p>
                With this application you can manage your money wallets
            </p>
        </div>

    </div>

{% endblock %}
